.wrap {
    width: 1200px;
    border: 1px brown solid;
    font-size: 0;
}
.resizable {
    width: 300px;
    height: 120px;
    padding: 0.5em;
    background-color: coral;
    display: inline-block;
}
.resizable2 {
    background-color: lightblue;
}
.resizable3 {
    background-color: lightgreen;
}
.resizable4 {
    background-color: lightgray;
}
.ui-resizable-e { 
    cursor: e-resize; 
    width: 5px; 
    right: -5px; 
    top: 0; 
    bottom: 0; 
    background-color: gray;
}

.ui-resizable-helper { border-right: 2px dotted #00F; }